*{
    padding: 0px;
    margin: 0px;
}

.GRID-STYLE{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

#main-navbar{
    grid-column-start: 1;
    grid-column-end: 3;
}

#contentWeb{
    background-color: rgb(242, 242, 242);
}